<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      VideosApp
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">


<p align="center"><img src="https://avatars.githubusercontent.com/u/67601062?v=4"></p>
<h1>Robson Escotiel S. Rocha</h1>
<p>Prof. Me ETEC de Cubatão</p>
<a href="mailto:robson.rocha4@etec.sp.gov.br" >robson.rocha4@etec.sp.gov.br</a>



  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>
